<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta name="apple-mobile-web-sapp-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
   <!--头部-->
    <div class="header">
        <i class="" id='back'></i>
        <span>密码修改</span>
        <b id='mm_login'>密码修改</b>
    </div>
    <div id="content1">
        <div id="dx_login">
            <div class="login_search">
                <p class="name">
                    <input id="number" type="password"  required  placeholder="请输入旧密码" onmouseover="fun(this)" onmouseout="funtwo(this)">
                </p>
                <p class="password">
                    <input id="password" type="password"  required  placeholder="请确认新密码" onmouseover="fun(this)" onmouseout="funtwo(this)">
                </p>
            </div>
            <div class="tip"  id="List">
                <p>温馨提示：更换密码请牢记新密码，应为找回密码有点麻烦，且代表您已同意 <a href="###">《用户服务协议》</a></p>
                <p id="remind"></p>
            </div>
            <div class="login">
                <a  id="queDing">确认</a>
                <p><a class="about" href="https://www.taobao.com/about/?spm=a21bo.50862.1997523009.28.3DF8ZR" target="_blank">关于我们</a></p>
            </div>
        </div>
    </div>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript">
            $(function () {
                $("#queDing").click(
                    function () {
                        var vv=$("#number").val();
                        var ss=$("#password").val();
                      /*  var beloon=[[${session.user}]]*/
                        if(vv.length>0 && ss.length>0){
                            $.post('/app/returnPassword',{phone:vv,password:ss},function(date){
                                if(date){
                                    window.location.href = "/";
                                }else {
                                    $("#remind").text("密码错误");
                                }
                            })
                        }else {
                            // $("#List").append("<p>请将表单填写完整</p>");
                            $("#remind").text("请将表单填写完整");
                        }
                    }
                )
            })
            function funtwo(obj){
                /* obj.value = "";*/
                obj.type = "password";
            }
            function fun(obj){
                /* obj.value = "";*/
                obj.type = "text";
            }
        </script>
    </body>
</html>