<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/cookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>

<body class="">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a><cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" id="myform">
            <input class="layui-input" autocomplete="off" placeholder="发送时间" id="time" name="time">
            <!--<input class="layui-input" autocomplete="off" placeholder="截止日" id="end" name="end">-->
            <input type="text" id="phone" name="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">

            <div class="layui-input-inline">
                <select name="type">
                    <option value="">Email类型</option>
                    <option th:each="types : ${type}" th:value="${types.type}" th:text="${types.type}"></option>
                </select>
            </div>

            <button class="layui-btn layui-btn-radius" type="reset">重置</button>
            <button class="layui-btn layui-btn-radius" type="button" id="btn">搜索 <i class="layui-icon">&#xe615;</i>
            </button>
        </form>
    </div>
    <table class="layui-table" id="table" lay-filter="test"></table>
</div>


<script>
    layui.use(['table', 'laydate'], function () {
        var table = layui.table, form = layui.form,laydate = layui.laydate, $ = layui.$;

        // 渲染日期控件
        laydate.render({
            elem: '#time' // 开始时间
        });
        laydate.render({
            elem: '#end' // 结束时间
        });

        //所获得的 tableIns 即为当前容器的实例
        table.render({
            toolbar: '#barDemo',
            elem: '#table',// 绑定要被渲染的表格id
            cellMinWidth: 80,
            even: true, //开启隔行背景
            cols: [
                [ //设置表头
                    /*  {checkbox: true, LAY_CHECKED: false, fixed: 'left'}*/
                    {field:'id', title: 'ID', sort: true,align: 'center'}
                    ,{field: 'email', title: '邮箱', align: 'center'}
                    ,{
                        field:'note',title:'邮件内容',align:'center',templet:function (row) {
                            return '<span value="' + row.note + '" class="layui-btn layui-btn-normal layui-btn-mini particulars">查看详情</span>'
                        }
                    }
                    , {field: 'type', title: '邮箱类型', align: 'center'}
                    , {field: 'time', title: '发送时间',sort: true, align: 'center'}
                ]
            ],
            url: '/email/list', //设置异步接口
            page: true
        });


        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
            };
        });

        // 模糊搜索
        $(document).on('click','#btn',function(){
            var array = $('#myform').serializeArray();
            var param = {};
            $.each(array,function (i,v) {
                if(v.value != ''){
                    param[v.name] = v.value;
                }
            })
            console.log(param)
            table.render({
                toolbar: '#barDemo',
                elem: '#table',// 绑定要被渲染的表格id
                cellMinWidth: 80,
                even: true, //开启隔行背景
                cols: [
                    [ //设置表头
                        /*  {checkbox: true, LAY_CHECKED: false, fixed: 'left'}*/
                        {field:'id', title: 'ID', sort: true,align: 'center'}
                        ,{field: 'email', title: '邮箱', align: 'center'}
                        ,{
                        field:'note',title:'邮件内容',align:'center',templet:function (row) {
                            return '<span value="' + row.note + '" class="layui-btn layui-btn-normal layui-btn-mini particulars">查看详情</span>'
                        }
                    }
                        , {field: 'type', title: '邮箱类型', align: 'center'}
                        , {field: 'time', title: '发送时间',sort: true, align: 'center'}
                    ]
                ],
                url: '/email/list', //设置异步接口
                page: true,
                where: param
            });
        });

        $(document).on('click','.particulars',function(){
            x_admin_show('详情页面', '/email/particulars?note='+$(this).attr("value"), 700, 500);
        });
    })

</script>
</body>
</html>