<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>找回密码2(设置新密码)</title>
    <link th:href="@{/css/mobile/basic.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/mobile/index.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/js/jquery-1.9.0.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/mobile/ratio.js}" type="text/javascript"></script>
</head>

<body>
<!--main start-->
<div class="zcenter">
    <div class="zforms">
        <div class="zpsw_status">
            <div class="zpsw_item zpsw_tohere">
                <dl class="zpsw_step">
                    <dd>1</dd>
                    <dt>验证身份</dt>
                </dl>
            </div>
            <div class="zpsw_item zpsw_tohere">
                <dl class="zpsw_step">
                    <dd>2</dd>
                    <dt>设置新密码</dt>
                </dl>
            </div>
            <div class="zpsw_item zpsw_tohere">
                <dl class="zpsw_step">
                    <dd>3</dd>
                    <dt>完成</dt>
                </dl>
            </div>
        </div>
        <dl class="zwarning">
            <dd>新密码设置成功，请牢记。</dd>
            <dt><a href="/">返回登录页面</a></dt>
        </dl>
    </div>
</div>
<!--main end-->
</body>
</html>
