<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>找回密码</title>
    <link th:href="@{/css/mobile/basic.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/mobile/index.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/jquery-1.9.0.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/mobile/ratio.js}" type="text/javascript"></script>
    <script th:src="@{/js/mobile/pwd_new2.js}" type="text/javascript"></script>
</head>

<body>
<!--main start-->
<div class="zcenter">
    <form id="form" name="form" action="" method="post">
        <input type="hidden" name="phone" th:value="${phone}"/>
        <div class="zforms">
            <div class="zpsw_status">
                <div class="zpsw_item zpsw_tohere">
                    <dl class="zpsw_step">
                        <dd>1</dd>
                        <dt>验证身份</dt>
                    </dl>
                </div>
                <div class="zpsw_item zpsw_tohere">
                    <dl class="zpsw_step">
                        <dd>2</dd>
                        <dt>设置新密码</dt>
                    </dl>
                </div>
                <div class="zpsw_item">
                    <dl class="zpsw_step">
                        <dd>3</dd>
                        <dt>完成</dt>
                    </dl>
                </div>

            </div>
            <h4 class="global_error" style="color:red">&nbsp;</h4>
            <dl class="zlo_row">
                <dd class="zlo_dd">
                    <p class="zlo_w">密码：</p>
                    <input type="password" id="password"  name="password" value="" onfocus="hideError('error_password')" onblur="checkPassword(this)" placeholder="密码限定为6—16位字符"/>
                    <h4 id='error_password'></h4>
                    <div id="passwordLev1"></div>
                </dd>
            </dl>
            <dl class="zlo_row">
                <dd class="zlo_dd">
                    <p class="zlo_w">确认密码：</p>
                    <input type="password" id="password2" name="password2" value="" onfocus="hideError('error_password2')" placeholder="请再次输入密码" />
                    <h4 id='error_password2'></h4>
                </dd>
            </dl>
            <p class="zlo_btn"><a  href="javascript:void(0);" onclick="modSubmit()">下一步</a></p>
        </div>
    </form>
</div>
<!--main end-->
</body>
</html>