<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/cookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>

<body class="">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a><cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" autocomplete="off" placeholder="开始日" id="start">
            <input class="layui-input" autocomplete="off" placeholder="截止日" id="end">
            <input type="text" id="label" placeholder="请输入字段标签" autocomplete="off" class="layui-input">
            <div class="layui-input-inline">
                <select id="type">
                    <option value="0">请选择标签类型</option>
                    <option th:each="types : ${type} " th:text="${types.type}">正常</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select id="status">
                    <option value="0">请选择字典状态</option>
                    <option value="1">正常</option>
                    <option value="2">已删除</option>
                </select>
            </div>
            <button class="layui-btn layui-btn-radius" type="reset">重置</button>
            <button class="layui-btn layui-btn-radius" type="button" id="btn">搜索 <i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <table class="layui-table" id="table" lay-filter="test"></table>
</div>

<script type="text/html" id="barDemo">
    <button class="layui-btn layui-btn-danger "lay-event="delAll"><i class="layui-icon"></i>批量删除</button>
    <button class="layui-btn layui-btn add"lay-event="add"><i class="layui-icon">&#xe608;</i>新增字典</button>
</script>

<script type="text/html" id="operateBar">
    <a title="编辑" class="layui-btn layui-btn-mini" lay-event={{ d.is_system == 1 ? 'system' : 'edit' }}><i class="layui-icon">&#xe63c;</i></a>
    <a title="删除" class="layui-btn layui-btn-mini layui-btn-danger"  lay-event={{ d.is_system == 1 ? 'system' : 'del' }}><i class="layui-icon">&#xe640;</i></a>
</script>

<script>


    layui.use(['table', 'laydate'], function () {
        var table = layui.table, laydate = layui.laydate, $ = layui.$;

        // 渲染日期控件
        laydate.render({
            elem: '#start' // 开始时间
        });
        laydate.render({
            elem: '#end' // 结束时间
        });


        //所获得的 tableIns 即为当前容器的实例
        table.render({
            toolbar: '#barDemo',
            elem: '#table',// 绑定要被渲染的表格id
            even: true, //开启隔行背景
            cols: [
                [ //设置表头
                    {checkbox: true, LAY_CHECKED: false, width: '5%', fixed: 'left',}
                    , {field: 'type', title: '字段类型', width: '10%', align: 'center'}
                    , {field: 'label', title: '字段标签', width: '10%', align: 'center'}
                    , {field: 'values', title: '值', width: '10%', align: 'center'}
                    , {field: 'dict_desc', title: '字段描述', width: '10%', align: 'center'}
                    , {field: 'create_by', title: '创建者', width: '10%', align: 'center'}
                    , {field: 'create_time', title: '创建时间', width: '15%', align: 'center'}
                    , {field: 'update_by', title: '修改者', width: '10%', align: 'center'}
                    , {field: 'update_time', title: '修改时间', width: '15%', align: 'center'}
                    , {field: 'status', title: '状态', width: '10%', align: 'center', sort: true, templet: function (obj) {
                        var status = obj.status;
                        if (status == 1) {
                            return '<span class="layui-btn layui-btn-normal layui-btn-mini">正常</span>'
                        } else {
                            return '<span class="layui-btn layui-btn-disabled layui-btn-mini">冻结</span>'
                        }
                    }
                },
                    {field: 'is_system', title: '是否为系统字段', width: '10%', align: 'center', sort: true, templet: function (obj) {
                        var is_system = obj.is_system;
                        if (is_system == 1) {
                            return '<span style="color: #00FF00">系统字段</span>'
                        } else {
                            return '<span>普通字段</span>'
                        }
                    }
                },
                    {toolbar: '#operateBar', title: '操作', width: '10%', align: 'center', fixed: 'right',}

                ]
            ],
            url: '/dict/list?status=1', //设置异步接口
            page: true
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'delAll':
                    var data = checkStatus.data;
                    var data = checkStatus.data;
                    var ids = "";
                    var system = false;
                    for (var i = 0; i < data.length; i++) {
                        if (i == data.length - 1) {
                            if (data[i].is_system == 1){
                                system=true;
                                break;
                            }
                            ids += data[i].id
                        } else {
                            ids += data[i].id + ","
                        }
                    }
                    if (system){
                        layer.msg("包含系统字段，不允许删除")
                    }else if (data.length == 0){
                        layer.msg("请选择!");
                    } else{
                        layer.confirm('确认要删除id为' + ids + '吗？', function (index) {
                            $.post('/dict/delete', {'ids': ids, '_method': 'DELETE'}, function (datas) {
                                layer.msg(datas.msg);
                                location.replace(location.href)
                            })
                        });
                    }
                    break;
                case 'add':
                    x_admin_show('添加字典', '/dict/addPage', 1000, 500);
                    break;
            };
        });


        table.on('tool(test)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'edit') { //查看
                x_admin_show('编辑字典', '/dict/editPage/'+data.id, 1000, 500);
            }else if (layEvent === 'del') {
                layer.confirm('确认要删除此数据吗？',function(index){
                    $.post('/dict/delete',{'ids':data.id,'_method':'DELETE'},function (datas) {
                        layer.msg(datas.msg);
                        location.replace(location.href)
                    })
                });
            }else if (layEvent === 'system') {
              layer.msg("系统字段不允许编辑和删除！")
            }
        });

        // 模糊搜索
        $(document).on('click','#btn',function(){
            var start = $('#start').val();
            var end = $('#end').val();
            var label = $('#label').val();
            var type = $('#type').val();
            var status = $('#status').val();
            var param = {};
            if(start){
                param.start = start;
            }
            if (end){
                param.end = end;
            }
            if (label){
                param.label = label;
            }
            if (type !=0){
                param.type=type;
            }
            if (status !=0){
                param.status=status;
            }
            table.render({
                toolbar:'#barDemo',
                elem:'#table',// 绑定要被渲染的表格id
                even: true, //开启隔行背景
                cols: [
                    [ //设置表头
                        {checkbox: true, LAY_CHECKED: false, width: '5%', fixed: 'left',}
                        , {field: 'type', title: '字段类型', width: '10%', align: 'center'}
                        , {field: 'label', title: '字段标签', width: '10%', align: 'center'}
                        , {field: 'values', title: '值', width: '10%', align: 'center'}
                        , {field: 'dict_desc', title: '字段描述', width: '10%', align: 'center'}
                        , {field: 'create_by', title: '创建者', width: '10%', align: 'center'}
                        , {field: 'create_time', title: '创建时间', width: '15%', align: 'center'}
                        , {field: 'update_by', title: '修改者', width: '10%', align: 'center'}
                        , {field: 'update_time', title: '修改时间', width: '15%', align: 'center'}
                        , {
                        field: 'status', title: '状态', width: '10%', align: 'center', sort: true, templet: function (obj) {
                            var status = obj.status;
                            if (status == 1) {
                                return '<span class="layui-btn layui-btn-normal layui-btn-mini">正常</span>'
                            } else {
                                return '<span class="layui-btn layui-btn-disabled layui-btn-mini">冻结</span>'
                            }
                        }
                    },
                        {toolbar: '#operateBar', title: '操作', width: '10%', align: 'center', fixed: 'right',}

                    ]
                ],
                url: '/dict/list', //设置异步接口
                page:true,
                where:param
            });
        });



    })

</script>
</body>
</html>