<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/cookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>

<body class="">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a><cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input"  autocomplete="off" placeholder="开始日" id="start">
            <input class="layui-input"  autocomplete="off" placeholder="截止日" id="end">
            <input type="text"   name="spe_title"   id="spe_title" placeholder="请输入图片标题" autocomplete="off" class="layui-input">

            <!--<div class="layui-input-inline">
                <select id="status">
                    <option value="0">状态</option>
                    <option value="1">正常</option>
                    <option value="2">已删除</option>
                </select>
            </div>-->

            <button class="layui-btn layui-btn-radius" type="reset">重置</button>
            <button class="layui-btn layui-btn-radius" type="button" id="btn">搜索 <i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <table class="layui-table" id="table" lay-filter="test"></table>
</div>

<!--<script type="text/html" id="barDemo">
    <button class="layui-btn layui-btn-danger" lay-event="delAll" ><i class="layui-icon"></i>批量删除</button>
</script>-->

<!--<script type="text/html" id="operateBar">
    <a title="删除" class="layui-btn layui-btn-mini layui-btn-danger" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>-->

<script>
    layui.use(['table','laydate'], function(){
        var table = layui.table, laydate = layui.laydate, $ = layui.$ ,form = layui.form;
        // 渲染日期控件
        laydate.render({
            elem: '#start' // 开始时间
        });
        laydate.render({
            elem: '#end' // 结束时间
        });
        //所获得的 tableIns 即为当前容器的实例
        table.render({
            toolbar:'#barDemo',
            elem:'#table',// 绑定要被渲染的表格id
            even: true, //开启隔行背景
            cols: [
                [ //设置表头
                    {checkbox: true, LAY_CHECKED: false,width:'5%',fixed: 'left'},
                    {field:'specialColumn.create_by.id',title:'创建人',width:'10%',align:'center',templet:function (row) {
                            return '<span value="' + row.appUser.id + '" class="layui-btn layui-btn-normal layui-btn-mini particulars">查看详情</span>'
                        }},
                    {field: 'specialColumn', title: '专栏标题',width:'20%',align:'center',
                        templet: '<div>{{d.specialColumn.spe_title}}</div>'},
                    {field: 'specialColumn', title: '专栏描述',width:'20%',align:'center',
                        templet: '<div>{{d.specialColumn.spe_desc}}</div>'},
                    {field: 'specialColumn', title: '专栏封面',width:'15%',align:'center',templet:'<div><img src="{{d.specialColumn.cover_img}}"></div>'},
                    {field: 'specialColumn', title: '专栏价格',width:'10%',align:'center',templet:function (row) {
                            return row.specialColumn.price + ' ￥'
                        }}
                    ,{field:'time',title:'收藏时间',width:'20%',align:'center'}
                ]
            ],
            url: '/collect/list', //设置异步接口
            page:true
        });
        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'delAll':
                    var data = checkStatus.data;
                    var data = checkStatus.data;
                    var ids = "";
                    for (var i= 0 ;i<data.length;i++){
                        if (i==data.length-1){
                            ids+=data[i].id
                        }else{
                            ids+=data[i].id+","
                        }
                    }
                    console.info(ids)
                    layer.confirm('确认要删除id为'+ids+'吗？',function(index){
                        $.post('/image/delete',{'ids':ids,'_method':'DELETE'},function (datas) {
                            layer.msg(datas.msg);
                            location.replace(location.href)
                        })
                    });
                    break;
            };
        });
        table.on('tool(test)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'del') {
                layer.confirm('确认要删除此数据吗？',function(index){
                    $.post('/image/delete',{'ids':data.id,'_method':'DELETE'},function (datas) {
                        layer.msg(datas.msg);
                        location.replace(location.href)
                    })
                });
            }
        });

        // 模糊搜索
        $(document).on('click','#btn',function(){
            var start = $('#start').val();
            var end = $('#end').val();
            var spe_title = $('#spe_title').val();
           // var spe_status = $('#spe_status').val();
            var param = {};
            if(start){
                param.start = start;
            }
            if (end){
                param.end = end;
            }
            if (spe_title){
                param.spe_title = spe_title;
            }
            table.render({
                toolbar:'#barDemo',
                elem:'#table',// 绑定要被渲染的表格id
                even: true, //开启隔行背景
                cols: [
                    [ //设置表头
                        {checkbox: true, LAY_CHECKED: false,width:'5%',fixed: 'left'},
                        {field:'specialColumn.create_by.id',title:'创建人',width:'10%',align:'center',templet:function (row) {
                                return '<span value="' + row.appUser.id + '" class="layui-btn layui-btn-normal layui-btn-mini particulars">查看详情</span>'
                            }},
                        {field: 'specialColumn', title: '专栏标题',width:'20%',align:'center',
                            templet: '<div>{{d.specialColumn.spe_title}}</div>'},
                        {field: 'specialColumn', title: '专栏描述',width:'20%',align:'center',
                            templet: '<div>{{d.specialColumn.spe_desc}}</div>'},
                        {field: 'specialColumn', title: '专栏封面',width:'15%',align:'center',templet:'<div><img src="{{d.specialColumn.cover_img}}"></div>'},
                        {field: 'specialColumn', title: '专栏价格',width:'10%',align:'center',templet:function (row) {
                                return row.specialColumn.price + ' ￥'
                            }}
                        ,{field:'time',title:'收藏时间',width:'20%',align:'center'}
                       ]
                    ],
                url: '/collect/list', //设置异步接口
                page:true,
                where:param
            });
        });
        $(document).on('click','.particulars',function(){
            x_admin_show('详情页面', '/appUser/particulars?id='+$(this).attr('value'), 1000, 500);
        });
    })
</script>
</body>
</html>