<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.znsd.instapundit.bxwserver.dao.ClassifySeparateDao">

    <resultMap id="classifySeparate" type="ClassifySeparateBean">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="count" column="count"/>
        <result property="time" column="time"/>
        <result property="create_time" column="create_time"/>
    </resultMap>


    <!--分页查询-->
    <select id="listPage" parameterType="com.znsd.instapundit.param.ClassifySeparateParam" resultMap="classifySeparate">
        SELECT
        cs.id,
        cs.content,
        cs.count,
        cs.time,
        cs.create_time
        FROM tb_classify_separate cs
        <where>
            <if test="content!=null">
                 cs.content LIKE CONCAT('%',#{content},'%')
            </if>
            <if test="start!=null and end!=null">
                AND  u.updated BETWEEN #{start} AND #{end}
            </if>
            <if test="start!=null and end==null">
                AND  u.updated &gt;= #{start}
            </if>
            <if test="start==null and end!=null">
                AND  u.updated &lt;= #{end}
            </if>
        </where>
        LIMIT #{page},#{limit}
    </select>

    <!--查询总条数-->
    <select id="count" resultType="int" parameterType="com.znsd.instapundit.param.ClassifySeparateParam">
	  SELECT
      count(1)
      FROM tb_classify_separate cs
        <where>
            <if test="content!=null">
                AND cs.content LIKE CONCAT('%',#{content},'%')
            </if>
            <if test="start!=null and end!=null">
                AND  u.updated BETWEEN #{start} AND #{end}
            </if>
            <if test="start!=null and end==null">
                AND  u.updated &gt;= #{start}
            </if>
            <if test="start==null and end!=null">
                AND  u.updated &lt;= #{end}
            </if>
        </where>
    </select>

   
</mapper>