<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.instapundit.bxwserver.dao.CommentDao">
    
    <resultMap id="AppCommentResult" type="com.znsd.instapundit.bean.CommentBean">
        <id property="id" column="id" />
        <result property="user.id" column="user_id" />
        <result property="comment" column="comment" />
        <result property="time" column="time" />
        <result property="video.id" column="voide_id" />
        <result property="status" column="status" />
        <result property="user.picture" column="picture" />
        <result property="user.username" column="username" />
        <result property="user.dictBean.label" column="label" />
    </resultMap>

    <resultMap id="CommentResult" type="com.znsd.instapundit.bean.CommentBean">
        <id property="id" column="id" />
        <result property="user.id" column="user_id" />
        <result property="comment" column="comment" />
        <result property="time" column="time" />
        <result property="video.id" column="voide_id" />
        <result property="status" column="status" />
    </resultMap>

    <insert id="insertComment">
        insert into tb_comment (user_id,comment,time,voide_id)
        values (#{userID},#{comment},now(),#{videoID})
    </insert>

    <select id="pagingList" resultMap="CommentResult" parameterType="com.znsd.instapundit.param.CommentParam">
        SELECT
            *
        FROM
            tb_comment
        WHERE
            <if test="status == null">
                status = 1
            </if>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="comment != null">
                AND comment LIKE CONCAT('%',#{comment},'%')
            </if>
            <if test="start != null">
                AND time &gt;= #{start}
            </if>
            <if test="end != null">
                AND time &lt;= #{end}
            </if>
            ORDER BY
            time DESC
        LIMIT #{page},#{limit}
    </select>

    <select id="getComments" resultMap="AppCommentResult">
        SELECT
            c.*,
            u.username,
            u.picture,
            d.label
        FROM
          tb_comment c
          LEFT JOIN tb_user u ON c.user_id = u.id
          LEFT JOIN sys_dict d ON d.values = u.ro_id
        WHERE
            d.type = "role"
            AND c.status = 1
            AND c.voide_id = #{videoID}
        ORDER BY
            time DESC
    </select>

    <select id="getPagingCount" resultType="int" parameterType="com.znsd.instapundit.param.CommentParam">
        SELECT
          count( 1 )
        FROM
          tb_comment
        WHERE
            <if test="status == null">
                status = 1
            </if>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="comment != null">
                AND comment LIKE CONCAT('%',#{comment},'%')
            </if>
            <if test="start != null">
                AND time &gt;= #{start}
            </if>
            <if test="end != null">
                AND time &lt;= #{end}
            </if>
    </select>

    <update id="delete">
        update tb_comment set status = 2 where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </update>

</mapper>